body {
  font: 14pt Raleway, Open Sans, sans-serif;
  background-color: #00020D;
  width: 100%;
  color: white; }

h2 {
  font-weight: bolder;
  text-align: center;
  color: #BF7EB4; }

h4 {
  font-weight: lighter;
  text-align: center;
  color: #731F6D; }

h3 {
  color: white; }

ul {
  list-style: none; }

li {
  margin: auto; }

nav {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  nav ul li {
    display: inline-block; }

#logo {
  float: left;
  padding-left: 20px; }

.menu {
  text-decoration: none;
  color: white;
  padding-right: 20px;
  margin-top: 40px; }

.slide {
  width: 100%;
  z-index: -1; }

.search {
  margin-top: -15px;
  margin-bottom: 80px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

#buscador {
  width: 880px;
  height: 25px; }

.buscar {
  height: 30px;
  width: auto;
  font: 13pt Raleway, Open Sans, sans-serif; }

.c4 {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  justify-content: space-around; }

.columna4 {
  text-align: center; }
  .columna4 img {
    margin-bottom: 10px; }

.encabezados {
  margin-bottom: 80px;
  padding-top: 80px;
  height: 200px;
  color: white;
  background-image: url(../img/fondo2.png); }

@keyframes movimiento {
  0% {
    transform: scale(1); }
  50% {
    transform: scale(1.25); }
  100% {
    transform: scale(1); } }
.iconos:hover {
  animation-name: movimiento;
  animation-duration: 1.3s;
  animation-timing-function: ease-in-out; }

.c3 {
  display: flex;
  flex-direction: row;
  margin-bottom: 80px;
  justify-content: center;
  align-items: center; }

.columnac {
  padding: 10px 20px 10px 20px; }

.columnai {
  text-align: right; }

.col3int {
  display: flex;
  flex-direction: row;
  align-items: flex-start; }

.icel_icon {
  padding: 0px 20px 0px 20px;
  width: 50px;
  height: 50px; }

p {
  line-height: 1.2em;
  margin-top: 0px; }

#cel {
  margin-left: 35px;
  margin-right: 35px; }

.icel_icon {
  padding-bottom: 70px; }

.ventas {
  width: 200px;
  height: auto;
  background-color: #350C40;
  text-align: center;
  padding: 10px 5px 10px 5px;
  margin-top: -160px; }

.precio {
  border-style: solid;
  border-color: white;
  border-width: 0px 0px 1px 0px;
  padding-bottom: 20px;
  margin-right: 70px;
  margin-left: 70px;
  font-size: 30px Raleway, Open Sans, sans-serif;
  font-weight: bolder; }

footer {
  width: 100%;
  height: 400px; }

.anuncio {
  width: 100%;
  height: 180px;
  background-color: #030526;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: 24px Raleway, Open Sans, sans-serif;
  font-weight: bolder;
  text-decoration: none; }

footer {
  height: 60px;
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }

.rrss {
  padding-left: 20px;
  margin-top: 20px; }
  .rrss img {
    margin-top: 10px; }

#nav_menu_footer {
  float: right;
  padding-right: 30px;
  display: flex;
  flex-direction: row; }

@media screen and (max-width: 1024px) {
  body {
    font-size: 13pt; }

  nav {
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center; }

  .search {
    transform: scale(0.8);
    margin-bottom: 40px; }

  .c4 {
    flex-wrap: wrap;
    margin-bottom: 40px; }

  .iconos {
    margin: 7px; }

  .c3 {
    display: flex;
    flex-direction: column;
    margin-bottom: 4; }

  .columnac {
    display: none; }

  .columnai {
    text-align: left;
    order: 2; }

  .ventas {
    margin-bottom: 160px;
    margin-top: -140px; }

  .ocultar {
    display: none; }

  .anuncio {
    display: none; }

  footer {
    display: flex;
    flex-direction: column;
    margin-top: -100px; }

  .rrss {
    padding-left: 0px; }

  #nav_menu_footer {
    padding-right: 0px; } }

/*# sourceMappingURL=trab7.css.map */
