
body{
	font-family: 'Raleway','Open Sans',sans-serif;
	font-size: 14px;
	background-color: #00020D;
	width: 100%;
	color: white;
} 
ul { 
	list-style: none; 
}
li{
	margin: auto;
}
nav {
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
nav ul li{
	display: inline-block;
}
#logo{
	float: left;
	padding-left: 20px;
}
.menu{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	margin-top: 40px;
}

.slide{
	width: 100%;
	z-index: -1;
}
.search{
	margin-top: -15px;
	margin-bottom: 80px;
	display: flex;
	flex-direction:row;
	justify-content:center;
}
#buscador{
	width: 880px;
	height: 25px;
}
.buscar{
	height: 30px;
	width: 50px;
	font-size: 13pt;
}

.c4{
	display: flex;
	flex-direction:row;
	margin-bottom: 80px;
	justify-content:space-around;
}
.columna4{
	text-align: center;
}

@keyframes movimiento{
	0% {transform:scale(1);}/*from*/
	50% {transform:scale(1.25);}
	100% {transform:scale(1);}/*to*/
}
/*Aplicación*/
.iconos:hover{
	animation-name: movimiento;
	animation-duration:1.3s;
	animation-timing-function:ease-in-out;
}

.encabezado{
	width: 100%;
	height: 200px;
	padding-top: 60px;
	background-image: url(../img/fondo2.png);
}
.c3{
	display: flex;
	flex-direction:row;
	margin-bottom: 80px;
	justify-content:center;
	align-items:center;
}
.columna3d{
	text-align: right;
	padding-right: 20px;
}
p{
	line-height: 1.2em;
}
#cel{
	margin-left: 35px;
	margin-right: 35px;
}
.columna3i{
	padding-left: 20px;
}
.icel_icon{
	padding-bottom: 60px;
}
.icel_icon1{
	padding-bottom: 60px;
}
.ventas{
	width: 200px;
	height: 380px;
	margin-top: -60px;
	background-color: #350C40;
	text-align: center;
	display: flex;
	flex-direction:column;
	justify-content:center;
}
.articulos{
	padding-bottom: 15px;
	text-align: center;
}
.buy{
	margin-bottom: 15px;
}
.precio{
	border-style: solid;
	border-color: white;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 15px;
	margin-right: 70px;
	margin-left: 70px;
	font-size: 30px;
	font-weight: bolder;
}
h2{
	font-weight: bolder;
	color: #BF7EB4;
	text-align: center;
}
h4{
	font-weight: lighter;
	color: #ffffff;
	text-align: center;
	margin-bottom: 80px;
}
.anuncio{
	width: 100%;
	height: 180px;
	background-color: #030526;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 24px;
	font-weight: bolder;
	text-decoration: none;
}
footer{
	height: 60px;
	width: 100%;
	display: flex;
	align-items:center;
	justify-content:space-between;
}
footer ul{
	float: right;
}
footer ul li{
	display: inline-block;
}
footer div{
	padding-left: 30px;
}
#nav_menu_footer{
	padding-right: 30px;
}

@media screen and (max-width: 1024px){
	body{
		font-size: 16pt;
	}
	.c4{
	flex-wrap: wrap;
	}
	.columna4 p {
		display: none;
	}
	#cel{
		display: none;
	}
	.columna3d{
		display:flex;
		flex-direction:column;
	}
	.columna3d p{
		orden:2; 
	}
	.icel1{
		display: flex;
		flex-direction:column;
	}
	.icel1 img{
		orden:1;
	}
	.icel2{
		display: flex;
		flex-direction:column;
	}
	.icel2 img{
		orden:3;
	}
	.columna3i{
		display: flex;
		flex-direction:column;
	}	
	.columna3i p{
		orden:4;
	}
	.c3{
  	flex-wrap: wrap; 
	}
	.ventas{
	transform:scale(0.7);
	width: 50%;
	}
	.articulos{
	padding-bottom: 15px;
	}
	button{
		padding: 10px; /*es mas clickeable con el dedo*/
		font-size: 14pt;
	}
	.anuncio{
	height: 10px;
	}
	.anuncio p{
	display: none;
	}
}