body{
	background-image: url(../img/fondo.jpg);
	color: white;
}
header{
	text-align: center;
	height: 120px;
}

.opciones{
	display: flex;
	justify-content:center;
	flex-direction:row;
}
.cuadro{
	border-color: white;
	border-radius: 3px;
	border-style: solid;
	border-width: 2px;
	display: flex;
	height: 60px;
	margin:2px;	
	padding: 10px;
	width: 60px;
}
.cuadro :active{
	border-color: red;
};
.cuadro:hover{
	cursor: hand;
};