body{
	font-family: 'Raleway','Open Sans',sans-serif;
	font-size: 14px;
	background-color: #00020D;
	width: 100%;
	color: white;
} 
h2{
	font-weight: bolder;
	text-align: center;
	color: #BF7EB4;
}
h4{
	font-weight: lighter;
	text-align: center;
	color: #731F6D;
}
ul { 
	list-style: none; 
}
li{
	margin: auto;
}
nav {
	width: 100%;
	height: 120px;
	display: flex;
	flex-direction:row;
	align-items:center;
	justify-content:space-between;
}
nav ul li{
	display: inline-block;
}
#logo{
	float: left;
	padding-left: 20px;
}
.menu{
	text-decoration: none;
	color: white;
	padding-right: 20px;
	margin-top: 40px;
}
.slide{
	width: 100%;
	z-index: -1;
}
.search{
	margin-top: -15px;
	margin-bottom: 80px;
	display: flex;
	flex-direction:row;
	justify-content:center;
}
#buscador{
	width: 880px;
	height: 25px;
}
.buscar{
	height: 30px;
	width: auto;
	color: black;
}

.c4{
	display: flex;
	flex-direction:row;
	margin-bottom: 80px;
	justify-content:space-around;
}
.columna4{
	text-align: center;
}
.columna4 img{
	margin-bottom: 10px;
}
.encabezados{
	margin-bottom: 80px;
	padding-top: 80px;
	height: 200px;
	color: white;
	background-image: url(../img/fondo2.png);
}
@keyframes movimiento{
	0% {transform:scale(1);}/*from*/
	50% {transform:scale(1.25);}
	100% {transform:scale(1);}/*to*/
}
/*Aplicación*/
.iconos:hover{
	animation-name: movimiento;
	animation-duration:1.3s;
	animation-timing-function:ease-in-out;
}

.c3{
	display: flex;
	flex-direction:row;
	margin-bottom: 80px;
	justify-content:center;
	align-items:center;
}
.columnac{
	padding: 10px 20px 10px 20px;
}
.columnai{
	text-align: right;
}
.col3int{
	display: flex;
	flex-direction:row;
	align-items:flex-start;
}
.icel_icon{
	padding: 0px 20px 0px 20px;
	width: 50px;
	height: 50px;
}
p{
	line-height: 1.2em;
	margin-top: 0px;
}
#cel{
	margin-left: 35px;
	margin-right: 35px;
}
.icel_icon{
	padding-bottom: 70px;
}

.ventas{
	width: 200px;
	height: auto;
	background-color: #350C40;
	text-align: center;
	padding: 10px 5px 10px 5px;
	margin-top: -160px;
}
.articulos{
	padding-bottom: 15px;
	margin-left: 55px;
	margin-right: 50px;
	text-align: center;
}
.buy{}
.precio{
	border-style: solid;
	border-color: white;
	border-width: 0px 0px 1px 0px;
	padding-bottom: 20px;
	margin-right: 70px;
	margin-left: 70px;
	font-size: 30px;
	font-weight: bolder;
}
footer{
	width: 100%;
	height: 400px;
}
.anuncio{
	width: 100%;
	height: 180px;
	background-color: #030526;
	display: flex;
	align-items:center;
	justify-content:center;
	font-size: 24px;
	font-weight: bolder;
	text-decoration: none;
}
footer{
	height: 60px;
	width: 100%;
	display: flex;
	flex-direction:row;
	justify-content:space-between;
	align-items:center;
}
.rrss{
	padding-right: 20px;
}
#nav_menu_footer{
	float: right;
	padding-right: 30px;
	display: flex;
	flex-direction: row;
}